Source: ssh-tpm-agent
Section: base
Priority: optional
Build-Depends: binutils, debhelper-compat (= 13)
Standards-Version: 4.7.2
Homepage: https://github.com/Foxboron/ssh-tpm-agent
VCS-Browser: https://github.com/Foxboron/ssh-tpm-agent
VCS-git: git://github.com/Foxboron/ssh-tpm-agent.git
Maintainer: Kale-Ko <github@kaleko.dev>

Package-Type: deb
Package: ssh-tpm-agent
Architecture: amd64 arm64
Section: base
Priority: optional
Depends: systemd, dbus, openssh-client, openssh-server
Description: ssh-agent for TPMs
Homepage: https://github.com/Foxboron/ssh-tpm-agent