**/debian/*
!**/debian/control
!**/debian/changelog
!**/debian/copyright
!**/debian/rules
!**/debian/install
!**/debian/postinst
!**/debian/postrm
ssh-tpm-agent/debian/install
!ssh-tpm-agent/debian/install.template

.*
*.deb
*.build
*.buildinfo
*.changes
*.dsc
*.asc
*.tar.gz

out/