Source: openssh-wifi-initramfs
Section: base
Priority: optional
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.7.2
Homepage: https://github.com/Kale-Ko/openssh-wifi-initramfs
VCS-Browser: https://github.com/Kale-Ko/openssh-wifi-initramfs
VCS-git: git://github.com/Kale-Ko/openssh-wifi-initramfs.git
Maintainer: Kale-Ko <github@kaleko.dev>

Package-Type: deb
Package: openssh-wifi-initramfs
Architecture: any
Section: base
Priority: optional
Depends: initramfs-tools, cryptsetup, cryptsetup-initramfs
Description: TODO
Homepage: https://github.com/Kale-Ko/openssh-wifi-initramfs